<header>
    {{ partial "navigation.html" . }}
</header>

<div class="page-header">
    {{ if isset .Params "title" }}
        <p class="page-title">{{ .Params.title }}</p>
    {{ else }}
        <p class="page-title">{{ .Site.Title }}</p>
    {{ end }}
    {{ if isset .Params "subtitle" }}
        <p class="page-subtitle">
        {{ index .Params "subtitle" }}
        {{ if isset .Params "ref_name" }}
        <a href="#reference">[𝄞]</a>
        {{ end }}
        </p>
    {{ else }}
        <p class="page-subtitle">
        {{ .Site.Params.subtitle }}
        </p>
    {{ end }}
    {{ if isset .Params "date" }}
        {{ $date := .Date.Format "2006-01-02" }}
        {{ $lastmod := .Lastmod.Format "2006-01-02" }}
        <p class="date">{{ $date }}
        {{ if ne $date $lastmod }}
         | mod: {{ $lastmod }}
        {{ end }}
        </p>
    {{ end }}
</div>
